html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid rgba(80, 80, 80, 1);
  border-radius: 0.3rem;
  min-width: 20rem;
}

button {
  padding: 0.5rem;
  border: none;
  margin-top: 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  background-color: #E83E34;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
 
}

h2 {
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
